*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    margin:0px 5px;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 2px 5px rgb(107, 106, 106);
}
.logo-container{
    height: 80px;
    width: 80px;
    margin: 0px 10px;
    margin-left: 30px;
}
.Nav-items > ul{
    display: flex;
    align-content: center;
    list-style-type:none;
    font-size: 21px;
}

.Nav-items > ul> li{
    padding: 10px;
    margin: 20px;
}
